/* Base */

#awwwards{
  position: absolute;
  top: 20px;
  width: calc(90px / 2);
  height: calc(135px / 2);
  text-indent: -666em;
  overflow: hidden;
  z-index: 9;

  -webkit-transition: all 1s ease;
    transition: all 1s ease; 
}
#awwwards.top{
  top: 20px;
}
#awwwards.left{
  left: 0;
}
#awwwards.right{
  right: 0;
}

#awwwards a{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: calc(90px / 2);
  height: calc(135px / 2);
  background-repeat: no-repeat;
  background-size: calc(90px / 2) calc(135px / 2);
}

#awwwards.nominee.black.left a{
  background-image: url(ribbons/awwwards_nominee_black_left.png);
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  #awwwards.nominee.black.left a{
    background-image: url(ribbons/awwwards_nominee_black_left@2x.png);
  }
}